* { 				margin: 0; padding: 0; }
html, body {        height: 100%; }
body {              width: 100%; overflow: hidden; 
					font-family: "Tahoma", Arial; 
					background: url(../image/paper_3.png); } 

h1 {              	color: #fefefe; font-size: 45px; margin: 8px 0; text-shadow: 1px 1px 1px #000000; }
h2 {              	color: #efefef; font-size: 23px; margin: 8px 0; font-weight: normal; text-shadow: 1px 1px 1px #000000;}

#wrapper {          position: absolute; left: 0; top: 0; width: 100%; height: 100%; 
                    overflow: auto; z-index: 50; display: block;} 

#mainWrapper {      position: relative; width: 700px; margin-left:140px; 
                    background-color: #fefefe; box-shadow: 0 0 20px #aaaaaa;
                    border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}

#header { 
    padding: 10px 30px; 
    border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;

    background-color: #343434;
    background-image: linear-gradient(top, #343434, #181818);
    background-image: -o-linear-gradient(top, #343434, #181818);
    background-image: -moz-linear-gradient(top, #343434, #181818);
    background-image: -webkit-linear-gradient(top, #343434, #181818);
    background-image: -ms-linear-gradient(top, #343434, #181818);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343434', endColorstr='#181818');
}
.bottom { height: 20px; width: 100%; background: url(../image/bottom_shadow.png) repeat-x; }
#content { padding: 0 30px; }

.clear { clear: both; }

div.twoColumn div.section:first-child { margin-right: 20px; }
div.twoColumn div.section { width: 310px; float: left; }

div.section.top_height { height: 160px; }

div.section {                	
    background-color: white;
    border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;

    color: #333333; 
    font-size: 14px; 
    line-height: 22px; 
    margin-bottom: 30px; 
    box-shadow: 0 1px 10px #aaaaaa;
}

div.title {
    background: #444444;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0; 
    -moz-border-radius: 8px 8px 0 0;
    text-shadow: 1px 0 1px #111111; 
}

div.content { padding: 8px;  }
div.content img { float: left; padding-right: 5px; }
div.contact-title { font-size: 11px; font-weight: bold; 
                    width: 80px; float: left; text-transform: uppercase;}

a {                	color: #073594; text-decoration: none; }
a:hover {           margin-top: 1px; color: #073594; text-decoration: underline; }

.height_25 { height: 25px;}
.height_50 { height: 50px;}

.project { padding: 8px 0; font-size: 13px; line-height: 19px; color: #444444;}
.project img { float: left; margin-right: 10px;}
.project h4 { padding: 15px 0; }

.post { padding: 5px 0; font-size: 13px; line-height: 19px; color: #444444; }
.post h4 { padding: 4px 0; font-size: 15px;}

.tabs { float: right;}
.tabs a { 
    padding: 5px 8px; color: white;  color: #1C291E; font-size: 1.1em;
    text-decoration: none; background-color: #000000;
    text-shadow: 1px 0 1px #6DB077; 
    border-radius: 4px; -webkit-border-radius: 4px;  -moz-border-radius: 4px; 
}
.tabs a:hover { text-decoration: none; background-color: #83D48F; }

.tabs a.blog { background-color: #6DB077; }
.tabs a.twitter { background-color: #6DB077; }
.tabs a.gplus { background-color: #6DB077; }
.tabs a.github { background-color: #6DB077; }